"""
Coding Quest: {{ year }}/{{ day }}.
"""

import io

from coding_quest_{{ year }} import day{{ day }}

EXAMPLE = """\
"""


def test_example():
    assert day{{ day }}.solve(io.StringIO(EXAMPLE)) == 42
